<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('패키지 예약상세')}"></head> 

<style>
  
  .main_title {
    border-bottom: 1px solid #ccc;
    text-align: left;
  }
  
  .main_title span {
    font-size: 3em; 
    font-weight: bold;
  }
  
  .res_info_title {
    text-align: left;
    margin-bottom: 2%;
  }
  
  .res_info_title span {
    font-size: 2em; 
    font-weight: bold;
  }
  .res_info {
    border-bottom: 1px solid #ccc;
  }
  .res_info {
    font-size: 1.3em; 
  }
  .res_info_table table {
    margin-bottom: 4%;
    font-size: 1.3em; 
  }
  
  .total_position {
    display: flex;
    font-size: 1.1em; 
  }
  
  .main_title span,
  .res_info_title span {
    color: #404040; /* 기본 글씨 색상 */
  }
  
  #show_list
   {
    height: 40px; 
    width: 35%;
    font-size: 1.2em; 
    color: #fff;         /* 텍스트 색상 */
    background-color: #96B6C5; /* 기본 배경 색상 */
    border-color: #fff;  /* 테두리 색상 */
    border-radius: 10px;      /* 테두리를 둥글게 만듭니다. */
    transition: all 0.3s;     /* 모든 속성에 대해 0.3초 동안 트랜지션 효과 적용 */
  }
  
  #move_to_packageDetail #packageTitle {
    font-weight: bolder;
    cursor: pointer;
  }
  
  #move_to_packageDetail #packageTitle:hover {
    text-decoration: underline;
  }
  
</style>
<script>
    $(() => {
    fnMovePackageDetail();
  })
  
  const fnMovePackageDetail = () => {
    $('#move_to_packageDetail').click(() => {
      let packageNo = $('#packageNo').val();
      location.href = '/package/detail.do?packageNo=' + packageNo;
    })
  }
</script>

<body>
	<div th:replace="~{/layout/header::header}"></div>
	
	<div class="main_wrap">
	
	
		 <div class="container text-center">
		  <div class="row">
		    <div class="col-1">	      
		    </div>
		    <div class="col-10">
		      	
		      	
		      <div>
            
		       <div class="main_title">
              <span>패키지 예약 상세 내역</span>
            </div>
            
            <!--/* 예약한 사람의 정보를 나타낸다 */-->
            <div class="res_info_title">
              <span>예약자 정보</span>
            </div>
            
            <div class="res_info content">
              
              <div class="mb-3 row">
                <div class="col-2">
                  <label for="name" class="col-form-label">이름</label>
                </div>
                <div class="col-5">
                  <input type="text" id="name" th:value="${reserve.userDto.name}" readonly class="form-control-plaintext m_email">
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-2">
                  <label for="mobile" class="col-form-label">휴대폰번호</label>
                </div>
                <div class="col-5">
                  <input type="text" id="mobile" th:value="${reserve.userDto.mobile}" readonly class="form-control-plaintext m_email">
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-2">
                  <label for="gender" class="col-form-label">성별</label>
                </div>
                <div class="col-5">
                  <input type="text" id="gender" th:if="${reserve.userDto.gender== 'F'}" value="여자" readonly class="form-control-plaintext m_email">
                  <input type="text" id="gender" th:if="${reserve.userDto.gender== 'M'}" value="남자" readonly class="form-control-plaintext m_email">
                  <input type="text" id="gender" th:if="${reserve.userDto.gender== 'NO'}" value="선택안함" readonly class="form-control-plaintext m_email">
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-2">
                  <label for="email" class="col-form-label">이메일</label>
                </div>
                <div class="col-5">
                  <input type="text" id="email" th:value="${reserve.userDto.email}" readonly class="form-control-plaintext m_email">
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-2">
                  <label for="requestedTerm" class="col-form-label">요청사항</label>
                </div>
                <div class="col-5">
                  <input type="text" id="requestedTerm" th:value="${reserve.requestedTerm}" readonly class="form-control-plaintext m_email">
                </div>
              </div>
              
              
            </div>
            
            <div>
              
            </div>
            
            <!--/* 예약한 패키지의 정보를 나타낸다 */-->
            <div class="res_info_title content">
              <span>예약 패키지 정보</span>
            </div>
            
            <div class="res_info">
              
              <div class="mb-3 row">
                <div class="col-2">
                  <label for="packageTitle" class="col-form-label">상품명</label>
                </div>
                <div class="col-5" id="move_to_packageDetail">
                  <input type="text" id="packageTitle" th:value="${reserve.packageDto.packageTitle}" readonly class="form-control-plaintext m_email">
                  <input type="hidden" id="packageNo" th:value="${reserve.packageDto.packageNo}">
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-2">
                  <label for="reserve_term" class="col-form-label">여행기간</label>
                </div>
                <div class="col-5">
                  <input type="text" id="reserve_term" th:value="|${reserve.reserveStart} ~ ${reserve.reserveFinish}|" readonly class="form-control-plaintext m_email">
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-2">
                  <label for="departureLoc" class="col-form-label">출발지</label>
                </div>
                <div class="col-5">
                  <input type="text" id="departureLoc" th:if="${reserve.departureLoc == 'Jamsil'}" value="잠실" readonly class="form-control-plaintext m_email">
                  <input type="text" id="departureLoc" th:if="${reserve.departureLoc == 'seoulStation'}" value="서울역" readonly class="form-control-plaintext m_email">
                  <input type="text" id="departureLoc" th:if="${reserve.departureLoc == 'DDP'}" value="동대문" readonly class="form-control-plaintext m_email">
                  <input type="text" id="departureLoc" th:if="${reserve.departureLoc == 'byOwn'}" value="자차이용" readonly class="form-control-plaintext m_email">
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-2">
                  <label for="reserveStatus" class="col-form-label">예약상태</label>
                </div>
                <div class="col-5">
                  <input type="text" id="reserveStatus" th:if="${reserve.reserveStatus == 0}" value="결제대기" readonly class="form-control-plaintext m_email">
                  <input type="text" id="reserveStatus" th:if="${reserve.reserveStatus == 1}" value="예약완료" readonly class="form-control-plaintext m_email">
                  <input type="text" id="reserveStatus" th:if="${reserve.reserveStatus == 2}" value="취소" readonly class="form-control-plaintext m_email">
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-2">
                  <label for="reservePrice" class="col-form-label">결제금액</label>
                </div>
                <div class="col-5">
                  <input type="text" id="reservePrice" th:value="|${reserve.reservePrice} 원|" readonly class="form-control-plaintext m_email">
                </div>
              </div>
              
              
            </div>
            
            <!--/* 실제 여행객의 정보를 나타낸다 */-->
            <div class="res_info_title">
              <span>여행자 정보</span> 
            </div>
            
            <div class="total_position">
              <div th:text="|총 ${reserve.reservePerson}명|"></div>
              <div th:text="| (성인 ${adult}명 / 소아 ${child}명)|"></div>
            </div>
            
            <div class="res_info_table">
              <table class="table">
                <thead>
                  <tr class="table-secondary">
                    <th>구분</th>
                    <th>이름</th>
                    <th>생년월일</th>
                    <th>성별</th>
                    <th>연락처</th>
                  </tr>
                </thead>
                <tbody>
                  <th:blcok th:each="t:${tourist}">
                    <tr>
                      <td >
                        <th:block th:if="${t.ageCase == 0}">성인</th:block>
                        <th:block th:if="${t.ageCase == 1}">소아</th:block>
                      </td>
                      <td th:text="${t.name}"></td>
                      <td th:text="${t.birthDate}"></td>
                      <td>
                        <th:block th:if="${t.gender == 'F'}">여자</th:block>
                        <th:block th:if="${t.gender == 'M'}">남자</th:block>
                      </td>
                      <td th:text="${t.mobile}"></td>
                    </tr>
                  </th:blcok>
                </tbody>
              </table>
            </div>
            
            <!--/* 예약 관리 목록 페이지로 돌아가는 버튼 */-->
            <div>
              <a th:href="@{/manage/reserveList.do}"><button id="show_list">목록보기</button></a>
            </div>
            
          </div>

            

            
		    </div>
		    <div class="col-1">	      
		    </div>
		  </div>
	  </div>
	
	</div>


	
	
	
	<div th:replace="~{/layout/footer::footer}"></div>
</body>
</html>

