<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('패키지상품')}"></head>
<style>
  .btn-kong {
    background-color: #96B6C5;
    color:white;
      } 
  .btn-kong1 {
    background-color: #164863;
    color:white;
      } 
  .choice{
    box-sizing: border-box;
    margin: 0px 0px 28px;
    min-width: 0px;
    line-break: anywhere;
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 30px;
    font-weight: 700;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 100%;
    text-align: left;
    justify-content: space-between;
    padding: 8px 16px;
    margin-top: 80px;
} 
 #myform fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#myform fieldset legend{
    text-align: right;
}
#myform input[type=radio]{
    display: none;
}
#myform label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#myform label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#contents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
   }
</style>
<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
         <th:block th:if="${session.user.auth == 0}">
         <form id="frm_btn" method="post">
            <input type="hidden" name="packageNo" class="heart" th:value="${packageDto.packageNo}"> 
            <input type="hidden" name="userNo" class="heart2" th:value="${session.user.userNo}">  
            <input type="hidden" name="regionNo" th:value="${packageDto.regionDto.regionNo}">
            <input type="hidden" name="themeNo" th:value="${packageDto.themeDto.themeNo}">
            <input type="hidden" name="packageTitle" th:value="${packageDto.packageTitle}">
            <input type="hidden" name="miniOne" th:value="${packageDto.miniOne}">
            <input type="hidden" name="miniTwo" th:value="${packageDto.miniTwo}">
            <input type="hidden" name="miniThree" th:value="${packageDto.miniThree}">
            <input type="hidden" name="packagePlan" th:value="${packageDto.packagePlan}">
            <input type="hidden" name="packageContents" th:value="${packageDto.packageContents}">
            <input type="hidden" name="hotelContents" th:value="${packageDto.hotelContents}">
            <input type="hidden" name="price" th:value="${packageDto.price}">       
            <input type="hidden" name="danger" th:value="${packageDto.danger}">
            <input type="hidden" name="packagePlan" th:value="${packageDto.packagePlan}">                  
            <input type="hidden" name="maxPeople" th:value="${packageDto.maxPeople}">
            <input type="hidden" name="recommendStatus" th:value="${packageDto.recommendStatus}">
           <button type="button" id="btn_edit">편집</button> 
           <button type="button" id="btn_remove">삭제</button> 
         </form>
         </th:block>  
  <div class="container text-center">
   <div class="row">
    <div class="col-8">
      <div style="text-align: left;" th:text="|조회수 : ${#numbers.formatInteger(packageDto.hit, 1, 'COMMA')}|"></div>
      <!-- 패키지 슬라이드 시작-->
     <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://github.com/skal48/portfolio/blob/main/hanla.jpg?raw=true" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://github.com/skal48/portfolio/blob/main/hanla.jpg?raw=true" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://github.com/skal48/portfolio/blob/main/hanla.jpg?raw=true" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
     </div>
      <!-- 패키지 슬라이드 끝 -->
      <div>
       <div class="choice">여행 주요일정</div>
       <div style="text-align: left;" th:text="${packageDto.packagePlan}"></div>
       <div style="text-align: left;" th:text="|${packageDto.maxPeople} 명|"></div>
      <!-- 모달 버튼 -->
      <div class="col-12 text-end">
       <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        여행시 유의사항
       </button>
      </div>
      <!-- 모달창 -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">여행시 유의사항</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" th:text="${packageDto.danger}">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- 여행장소 -->
      <div style="text-align: left;" th:text="${packageDto.packagePlan}"></div>
      
      <div>
       <div class="choice">여행 상세사항</div>
       
       <ul class="nav nav-tabs" id="myTab" role="tablist">
         <li class="nav-item" role="presentation">
           <button
              class="nav-link active"
              id="home-tab" 
              data-bs-toggle="tab"
              data-bs-target="#home-tab-pane" 
              type="button"
              role="tab"
              aria-controls="home-tab-pane"
              aria-selected="true"
          >패키지정보
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
              class="nav-link"
              id="profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#profile-tab-pane"
              type="button"
              role="tab"
              aria-controls="profile-tab-pane"
              aria-selected="false"
          >호텔정보
          </button>
        </li>
       </ul>
      </div>
       <div class="tab-content" id="myTabContent" style="text-align: left;">
          <div
            class="tab-pane fade show active"
            id="home-tab-pane"
            role="tabpanel"
            aria-labelledby="home-tab" th:text="${packageDto.packageContents}"></div>     
          <div
            class="tab-pane fade"
            id="profile-tab-pane"
            role="tabpanel"
            aria-labelledby="profile-tab" th:text="${packageDto.hotelContents}"></div>
        </div>
        
        <div th:each="reservation : ${reserve}">
			    <p th:text="${reservation.reserveNo}"></p>
			    <p th:text="${reservation.userDto.userNo}"></p>
	    </div>
        
        <div class="choice">여행 후기</div>
         <c:if test="${sessionScope.user.userNo != null}">
          <form class="mb-3 frm_review_add" id="myform" method="post">
          <fieldset>
            <span class="text-bold"> ❤️ 별점을 선택해주세요</span>
            <input type="radio" name="star" value="5" id="rate1"><label
              for="rate1">★</label>
            <input type="radio" name="star" value="4" id="rate2"><label
              for="rate2">★</label>
            <input type="radio" name="star" value="3" id="rate3"><label
              for="rate3">★</label>
            <input type="radio" name="star" value="2" id="rate4"><label
              for="rate4">★</label>
            <input type="radio" name="star" value="1" id="rate5"><label
              for="rate5">★</label>
          </fieldset>
          
            <div>
              <input type="hidden" name="packageNo" value="${packageDto.packageNo}">
              <textarea class="col-auto form-control" name="reviewContents" placeholder="행복했던 여행후기를 남겨보세요🙂"></textarea>   <!-- 예약한사람만 보이게 -->
              <button type="button" class="btn btn-kong" id="btn_review_add" style="margin-top: 20px; margin-left: 750px">작성완료</button>
            </div>
           </form>
           </c:if>  
            
          <div style="overflow: hidden;">
            <div style="height: 100px; float: right;">
                <select class="form-select form-select-sm mb-3 h-50 d-inline-block" style="width: 120px;" aria-label=".form-select-sm example">
                    <option value="1" selected>최신순</option>
                    <option value="2">별점순</option>
                </select>
            </div>
        </div>
        <div id="reviewAccordion">
             <input type="hidden" id="packageNo" name="packageNo" th:value="${packageDto.packageNo}">     
             
        </div>  
    </div>    
    
    
    
    
    <div class="col-4">
      <div class="w3-sidebar w3-bar-block" style="width:20%; height: 500px;"> <!-- 사이드바 -->
        <div style="font-size: large; font-weight: bolder; text-align: left;">선택중인 행사</div>
        <div style="margin-top: 20px">
         <div style="font-weight: bolder; text-align: left; font-size: 25px;" th:text="${packageDto.packageTitle}"></div>
         <div style="font-size: 30px; text-align: right;" th:text="|${packageDto.price} 원|"></div>
        </div> 
        <div style="text-align: left;">
         <span class="badge text-bg-success" th:text="${packageDto.miniOne}"></span>
         <span class="badge text-bg-warning" th:text="${packageDto.miniTwo}"></span>
         <span class="badge text-bg-secondary" th:text="${packageDto.miniThree}"></span>
       </div>
       <button class="btn btn-kong"  style="margin-left: 200px; margin-top: 50px;">
        <div id="heartButton" style="color: white; cursor: pointer;">찜하기♥</div>
       </button>
       <button class="btn btn-kong1"  style="margin-top: 50px;">
        <div id="heartButton" style="color: white; cursor: pointer;">출발일선택</div>
       </button>
       <button class="btn btn-kong1"  style="margin-top: 50px;" id="btn_reserve">
        <div style="color: white; cursor: pointer;">예약하러가기</div>
       </button>
      </div> 
    </div>
   </div>
  </div>

  
  <script th:inline="javascript">   
    function fnGoReserve(){
      $('#btn_reserve').click(function(){
         location.href='/reserve/write.form?packageNo=[[${packageDto.packageNo}]]';
      })
   }
   
     var frmBtn = $('#frm_btn');
    
     const fnEditPackage = () => {
      $('#btn_edit').click(() => {
        frmBtn.attr('action', '/package/edit.do');
        frmBtn.submit();
      })
    }

   const fnRemovePackage = () => {
      $('#btn_remove').click(() => {
        if(confirm('패키지를 삭제할까요?')){
          frmBtn.attr('action', '/package/remove.do');
          frmBtn.submit();          
        }
      })
    }
   
    // 리뷰  
    const fnReviewAdd = () => {
        $('#btn_review_add').click(() => {
          if('${session.user}' === ''){
            if(confirm('로그인이 필요한 기능입니다. 로그인할까요?')){
              location.href = '/user/login.form';
            } else {
              return;
            }
          }
          $.ajax({
            // 요청
            type: 'post',
            url: '/package/addReview.do',
            data: $('.frm_review_add').serialize(),
            // 응답
            dataType: 'json',
            success: (resData) => {             
              if(resData.addReviewResult === 1){
                alert('리뷰가 등록되었습니다.');
                $('#reviewContents').val('');
                fnReviewList();
              }
            }
          })
        })
      }
      
      
      
   
      
    var page = 1;
    var totalPage = 0;
  
    const packageNo = $('#packageNo').val();
  
    const fnReviewList = () => { 
      $.ajax({
        type: 'get',
        url: '/package/reviewList.do',
        data: { page: page, packageNo: packageNo},
        dataType: 'json',
        success: (resData) => {
          totalPage = resData.totalPage;
          $('#reviewAccordion').empty();
          if (resData.reviewList != null && resData.reviewList.length > 0) {
            $.each(resData.reviewList, (i, review)=> {
              let str = '<div class="accordion accordion-flush">';
              str += '<div class="accordion-item">';
              str += '<h2 class="accordion-header">';
              str += '<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse' + i + '" aria-expanded="false" aria-controls="flush-collapse' + i + '">' + review.userDto.name + '님의 리뷰</button>';
              str += '</h2>';
              str += '<div id="flush-collapse' + i + '" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">';
              str += '<div class="accordion-body">' + review.reviewContents + '</div>';
              str += '  <div>';
              if('${session.user.userNo}' == review.userDto.userNo){                
                    str += '  <input type="hidden" value="' + review.reviewNo + '">';
                    str += '  <button type="button" class="btn remove_Review" style="margin-left: 550px;">삭제하기</button>';
                  }
                    str += '  </div>';
              str += '</div>';
              str += '</div>';
              str += '</div>';
                $('#reviewAccordion').append(str);         
            });
          } else {
            // 리뷰가 없을 때
            $('#reviewAccordion').append('<div class="text-center">등록된 리뷰가 없습니다.</div>');
          }
        },
        error: (error) => {
          console.error('Ajax 요청 에러:', error);
          console.log('packageNo:', packageNo);
        }
      });
    };
	
	

    
   fnGoReserve();
   fnEditPackage();
   fnRemovePackage();
   fnReviewAdd();
   fnReviewList();
   
  </script>


  
  <div th:replace="~{/layout/footer::footer}"></div>
</body>
</html>

