<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('패키지상품수정')}"></head>
<style>
.ck.ck-editor {
  max-width: 1000px;
}
.ck-editor__editable {
  min-height: 400px;
}
.ck-content {
  color: gray;
}
#ckeditor {
  border: 1px solid silver;
}
.image_resized img {
  width: 80%;
} 
</style>
 <body>
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="container text-center">  <!-- 그리드 시작 -->  
    <div class="row">
      <div class="col-1">
    <div class="w3-sidebar w3-bar-block" style="width:10%; height:100px;"> <!-- 사이드바 -->
      <a th:href="@{/package/regionWrite.form}" class="w3-bar-item w3-button">지역 작성</a>
      <a th:href="@{/package/themeWrite.form}" class="w3-bar-item w3-button">테마 작성</a>
    </div>    
      </div>
      <div class="col-10" >
    <h2>패키지게시글작성</h2>
    <form onsubmit="return validateForm()" id="frm_product_modify" method="post" th:action="@{/package/modifyPackage.do}" enctype="multipart/form-data">
  
    <div style="margin: 30px 270px;" class="w-50 p-3">
    <div style="text-align: left;">
          <label for="thumbnailFiles" class="form-label">썸네일첨부</label>
          <input type="file" name="thumbnailFiles" id="thumbnailFiles" class="form-control" accept="image/gif,image/jpeg,image/png" required/>
      </div>
      <div class="attached_list mt-2" id="attached_list"></div>
      <div><!-- 추천라디오 및 선택박스 -->
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <!-- 추천라디오 -->
        <div style="text-align: left;">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="recommendStatus" id="recommendStatusInput" th:value="1" th:checked="${packageDto.recommendStatus == 1}">
                <label class="form-check-label" for="recommendStatus">
                    추천
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="recommendStatus" id="recommendStatusInput" th:value="2" th:checked="${packageDto.recommendStatus == 2}">
                <label class="form-check-label" for="recommendStatus">
                    안추천
                </label>
            </div>
        </div>
       
       <div class="w-25 p-3">
            <select id="regionSelect" class="form-select" aria-label="Default select example" name="regionNo">
                <option th:each="region : ${regionList}" th:value="${region.regionNo}" th:text="${region.regionName}" th:selected="${region.regionNo == packageDto.regionDto.regionNo}"></option>
            </select>
            <select id="themeSelect" class="form-select" aria-label="Default select example" name="themeNo">
                <option th:each="theme : ${themeList}" th:value="${theme.themeNo}" th:text="${theme.themeName}" th:selected="${theme.themeNo == packageDto.themeDto.themeNo}"></option>
            </select>
       </div>

         <input type="text" name="packageNo" class="heart" th:value="${packageDto.packageNo}"> 
        
        </div>
    </div>
         <div>
          <label for="packageTitle" class="form-label"></label>
          <input type="text" name="packageTitle" th:value="${packageDto.packageTitle}" id="packageTitle" class="form-control">
         </div>         
        <div>
          <label for="maxPeople" class="form-label"></label>
          <input type="text" name="maxPeople" id="maxPeople" th:value="${packageDto.maxPeople}" class="form-control">
        </div>                
         <div>
          <label for="miniOne" class="form-label"></label>
          <input type="text" name="miniOne" th:value="${packageDto.miniOne}" id="miniOne" class="form-control">
         </div>
         <div>
          <label for="miniTwo" class="form-label"></label>
          <input type="text" name="miniTwo" id="miniTwo" th:value="${packageDto.miniTwo}" class="form-control">
         </div>
         <div>
          <label for="miniThree" class="form-label"></label>
          <input type="text" name="miniThree" id="miniThree" th:value="${packageDto.miniThree}" class="form-control">
         </div>
        <div>
          <label for="price" class="form-label"></label>
          <input type="text" name="price" id="price" th:value="${packageDto.price}" class="form-control">
        </div>

        <div class="mb-3">      
        <label for="packagePlan" class="form-label"></label>
        <textarea class="form-control" id="packagePlan" th:text="${packageDto.packagePlan}" name="packagePlan" rows="10"></textarea>
        </div>
        
        <div style="text-align: left;">
         <div class="choice"></div>
          <label for="packageContents">상품내용</label>
            <textarea name="packageContents" id="packageContents" style="display: none;"></textarea>
            <div id="toolbar-container"></div>
            <div id="ckeditor" th:utext="*{packageDto.packageContents}"></div>
        </div>           
        
        <div>
          <label for="hotelContents" class="form-label"></label>
          <input type="text" name="hotelContents" id="hotelContents" th:value="${packageDto.hotelContents}" class="form-control">
        </div>
        
        <div class="mb-3">
          <label for="danger" class="form-label"></label>
          <textarea class="form-control" id="danger" th:text="${packageDto.danger}" name="danger" rows="10"></textarea>
        </div>                

        <div class="d-grid gap-2 col-6 mx-auto">
          <input type="hidden" name="userNo" th:value="${session.user.userNo}">
          <button type="submit" class="btn btn-primary" style="margin: 32px;">수정완료</button>
        </div>
     </div>
    </form>
    
    </div>
    <div class="col-1">      
    </div>
  </div>
  </div>

  <script th:inline="javascript">
    
    const fnCkeditor = () => {
    DecoupledEditor
        .create(document.getElementById('ckeditor'), {
            ckfinder: {
                uploadUrl: '/package/imageUpload.do'
            }
        })
        .then(editor => {
            const toolbarContainer = document.getElementById('toolbar-container');
            toolbarContainer.appendChild(editor.ui.view.toolbar.element);

            editor.model.document.on('change:data', () => {
                const data = editor.getData();
                document.getElementById('packageContents').value = data;
            });
        })
        .catch(error => {
            console.error(error);
        });
     }     
  

  
  $(document).ready(function () {
        $('input[type=radio][name=recommendStatus]').change(function() {
            if (this.value === '1') {
                $('#recommendStatusInput').val('1'); // 추천
            } else if (this.value === '2') {
                $('#recommendStatusInput').val('2'); // 안추천
            }
        });
    });
    
    
     function validateForm() {
        var recommendStatus = document.querySelector('input[name="recommendStatus"]:checked');
        var regionSelect = document.getElementById('regionSelect');
        var themeSelect = document.getElementById('themeSelect');
        var packageTitle = document.getElementById('packageTitle');
        var maxPeople = document.getElementById('maxPeople');
        var miniOne = document.getElementById('miniOne');
        var miniTwo = document.getElementById('miniTwo');
        var miniThree = document.getElementById('miniThree');
        var price = document.getElementById('price');
        var packagePlan = document.getElementById('packagePlan');
        var packageContents = document.getElementById('packageContents');
        var hotelContents = document.getElementById('hotelContents');
        var danger = document.getElementById('danger');

         var numberRegex = /^\d+$/;

        if (!recommendStatus || !regionSelect.value || !themeSelect.value || !packageTitle.value || !maxPeople.value || !miniOne.value || !miniTwo.value || !miniThree.value || !price.value || !price.value.match(numberRegex) || !maxPeople.value.match(numberRegex) || !packagePlan.value || !packageContents.value || !hotelContents.value || !danger.value) {
            alert("입력란 모두 채워주세요. 가격과 인원수는 숫자만 입력 가능합니다.");
            return false;
        }

        return true;
     }



    
    fnCkeditor();
    
   </script>
   
   <div th:replace="~{/layout/footer::footer}"></div>
   
</body>
</html>

