<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

 <head th:replace="~{/layout/header::head('패키지상품리스트')}"></head>
<style>
  .card {
      width: 18rem;
      margin-bottom: 20px;
  }

  .admin_btn {
      display: flex;
      justify-content: flex-end;
  }
  
  .btn-kong {
    background-color: #96B6C5;
    color:white;
      }
  .card-title {
    font-size: 20px;
    font-weight: 400;
  }
  .btn-outline-kong {
    color: rgb(23, 62, 104);
  } 
  .card-img-top {
        height: 200px; /* 원하는 카드 이미지 높이 */
        object-fit: cover; /* 이미지가 카드에 맞게 조절될 수 있도록 설정 */
        width: 100%; /* 가로 크기를 100%로 설정하여 카드 안에 꽉 차게 함 */
    }

</style>  
<body>

  <div th:replace="~{/layout/header::header}"></div>

  <div class="container text-center">  <!-- 그리드 시작 -->  
  <div class="row">
    <div class="col-1">    
    </div>
    <div class="col-10" >
      
   <!--  <th:block th:if="session.user.auth == 0}">  -->
      <a th:href="@{/package/write.form}">
        <button type="button" class="admin_btn" style="margin-left: auto;">게시글 작성</button>
      </a> 
    <!--  </th:block> -->
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="display: inline-block;"> 
         <span id="count"></span>개의 상품
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group" style="display: inline-block;">
          <button type="button" class="btn btn-outline-kong" value="defaultCondition">최신순</button>
          <button type="button" class="btn btn-outline-kong" value="recommendStatus">추천순</button>
          <button type="button" class="btn btn-outline-kong" value="rowPrice">가격낮은순</button>
          <button type="button" class="btn btn-outline-kong" value="highPrice">가격높은순</button>
        </div>
      </div>
      <hr>
      <div class="container">
        <div class="row" id="package_list"> 
          
        </div>
      </div>

      
    </div>
    <div class="col-1">      
    </div>
  </div>
  </div>

<script th:inline="javascript">
    // 전역 변수
    var page = 1;
    var totalPage = 0;
    var param = 0;
    const url = new URL(window.location.href);
    
    var region = url.searchParams.get("regionNo");   
    if(url.searchParams.get("regionNo") == null){
      region = 0;
    } 
    
       
      $('.btn-outline-kong').click(function(){
        param = $(this).val();
        page = 1;
        totalPage = 0;
         $('#package_list').empty();
          fnGetPackageList(param);
      })

    const fnGetPackageList = (param, region) => {
        $.ajax({
            type: 'get',
            url: '/package/getList.do',
            data: {
                page: page,
                condition: param,
                regionNo: region || 0
            },
            dataType: 'json',
            success: (resData) => {
                totalPage = resData.totalPage;
                $('#count').empty();
                $('#count').append(resData.count);
                if (resData.packageList != null && resData.packageList.length > 0) {                   
                    $.each(resData.packageList, (i, package) => {
                        let str = '<div class="col-md-4">';
                        str += '<div class="card">';
                        if (package.productImageDto && package.productImageDto.thumbnail === 1) {
                            str += '<img src="' + package.productImageDto.imagePath + '/' + package.productImageDto.filesystemName + '" style="height: 200px; " class="card-img-top" alt="Package Image">';
                        } else {
                            str += '<img src="https://github.com/skal48/portfolio/blob/main/bakdo.jpg?raw=true" style="height: 200px;" class="card-img-top" alt="Package Image">';
                        }
                        str += '<div class="card-body">';
                        str += '<p class="card-title">' + package.packageTitle + '</p>';
                        str += '<p class="card-text">'+ package.price +'원</p>';
                        str += '<p class="card-text"></p>';
                        str += '<a href="' + '/package/increseHit.do?packageNo=' + package.packageNo + '" class="btn btn-kong">여행가기</a>';
                        str += '</div>';
                        str += '</div>';
                        str += '</div>';
                        $('#package_list').append(str);
                    });
                } else {
                    console.log('데이터가 없습니다.');
                }
            },
            error: (error) => {
                console.error('Ajax 요청 에러:', error);
            }
        });
    }

    const fnScroll = () => {
        var timerId;
        $(window).on('scroll', () => {
            if (timerId) {
                clearTimeout(timerId);
            }
            timerId = setTimeout(() => {
                let scrollTop = $(window).scrollTop();
                let windowHeight = $(window).height();
                let documentHeight = $(document).height();
                if ((scrollTop + windowHeight + 100) >= documentHeight) {
                    if (page > totalPage) {
                        return;
                    }
                    page++;
                    fnGetPackageList(param);
                }
            }, 200);
        })
    }

    fnGetPackageList(param, region);
    fnScroll();
</script>



    <div th:replace="~{/layout/footer::footer}"></div>

 
</body>
</html>

