<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('패키지테마')}"></head>
<style>
.ck.ck-editor {
  max-width: 1000px;
}
.ck-editor__editable {
  min-height: 400px;
}
.ck-content {
  color: gray;
}
#ckeditor {
  border: 1px solid silver;
}
.image_resized img {
  width: 80%;
} 
</style>
<body>
	
	<div th:replace="~{/layout/header::header}"></div>
	
	<div class="container text-center">  <!-- 그리드 시작 -->  
	  <div class="row">
	    <div class="col-1">
	    </div>
	    <div class="col-10" >
		<h2>세부사항작성</h2>
	<form method="post" id="frm_product_add" th:action="@{/package/addTheme.do}">
	  <div style="margin: 30px 270px;" class="w-50 p-3">		 
		  
    <div>
        
    	  <div>
    	  	<label for="themeName" class="form-label"></label>
	        <input type="text" name="themeName" id="themeName" class="form-control" placeholder="테마 작성해주세요">
    	  </div>    	  

		  <div class="d-grid gap-2 col-6 mx-auto">
		     <!-- <input type="hidden" name="userNo" th:value="${session.user.userNo}"> -->
		      <button type="submit" class="btn btn-primary" style="margin: 32px;">작성완료</button>
	      </div>
		 </div>
		 </div>
		</form>
		
		</div>
    <div class="col-1">      
    </div>
  </div>
  </div>


<div th:replace="~{/layout/footer::footer}"></div>
</body>
</html>

