<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tour.hanbando.dao.InquiryMapper">
     <select id="getInquiryList"  resultType="InquiryDto">
      SELECT INQUIRY_NO, USER_NO, TITLE, CONTENTS, CREATED_AT, SEPARATE
        FROM INQUIRY_T
     </select>

     <select id="getInquiryAnswer" parameterType="int" resultType="InquiryAnswerDto">
     SELECT ANSWER_NO, USER_NO, INQUIRY_NO, CONTENTS, CREATED_AT
       FROM INQUIRY_ANSWER_T
      WHERE INQUIRY_NO= #{inquiryNo} 
     </select>
     
      <insert id="insertInquiry" parameterType="InquiryDto"> 
      INSERT INTO INQUIRY_T( 
             INQUIRY_NO 
           , USER_NO  
           , TITLE 
           , CONTENTS 
           , CREATED_AT        
           , SEPARATE   
           )
           VALUES( 
           INQUIRY_SEQ.NEXTVAL 
         , #{userNo}         
         , #{title} 
         , #{contents} 
         , TO_CHAR(SYSDATE, 'YYYY-MM-DD') 
         , #{separate}
         ) 
   </insert>
   
   <select id="getInquiry" parameterType="int" resultType="InquiryDto"> 
    SELECT INQUIRY_NO, USER_NO, TITLE, CONTENTS, CREATED_AT, SEPARATE
      FROM INQUIRY_T 
     WHERE INQUIRY_NO= #{inquiryNo} 
   </select>
   
   <delete id="deleteInquiry" parameterType="int"> 
  DELETE 
    FROM INQUIRY_T
   WHERE INQUIRY_NO = #{inquiryNo}
  </delete>
  
    <update id="updateInquiry" parameterType="InquiryDto"> 
  UPDATE INQUIRY_T
     SET TITLE = #{title} 
   , CONTENTS = #{contents} 
   , CREATED_AT = TO_CHAR(SYSDATE, 'YYYY/MM/DD') 
   , MODIFIED_AT = TO_CHAR(SYSDATE, 'YYYY/MM/DD') 
  WHERE INQUIRY_NO = #{inquiryNo} 
  </update>
  
       <insert id="insertInquiryAnswer" parameterType="InquiryAnswerDto"> 
      INSERT INTO INQUIRY_ANSWER_T( 
             ANSWER_NO
           , USER_NO  
           , INQUIRY_NO 
           , CONTENTS 
           , CREATED_AT        
           )
           VALUES( 
           INQUIRY_ANSWER_SEQ.NEXTVAL 
         , #{userNo}         
         , #{inquiryNo} 
         , #{contents} 
         , TO_CHAR(SYSDATE, 'YYYY-MM-DD') 
         ) 
   </insert>
    

</mapper>