<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('한반도 투어')}"></head> <!-- 이거 알맞게 바꿔주세요-->

<style>
  .wrap1 > .box1{
    height:40px;
  }  

  .wrap1 > .box2{
    height:40px;
  }    
  
  .col-9 {
    text-align: left;
  }
  
  .title mt-4 {
    text-align: left;
  }
  

  .wrap1 > .box3{
  height:20px;
  }    

  .wrap1 > .box4{
   height:30px;
  }

  .wrap1 > .box5{
   height:30px;
  }  
  

</style>


<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">
  
  
    <div class="container text-center">
      <div class="row">
        <div class="col-1">       
        </div>
        <div class="col-10" style="border:1px gray dotted;">
            <!--/*여기에 작성/ 다 만들고 style 지워주세요  */-->
            

    <div class="wrap1">
      <div class="box1"></div>      
    </div> 
            
    <div class="row">
    <div class="col-7"></div>
    <div class="col-4" style="display: flex; justify-content: flex-end;">
      <div class="home">
        <a th:href="@{http://localhost:8080}"><i class="fa-solid fa-house" style="font-size:15px; margin-right: 5px;"></i></a>
         &nbsp;고객센터  &nbsp;  >   &nbsp; 공지사항
      </div>
    </div>
    <div class="col-1"></div>
       
    <div class = "wrap1">
      <div class="box2"></div>
    </div>
    
   
    <div class="col-3"> 
      <div>
      <a th:href="@{/notice/list.do}">
      <button type="button" class="btn btn btn-primary" style="width:125px; height:45px">&nbsp;&nbsp;&nbsp;&nbsp;공지사항&nbsp;&nbsp;&nbsp;&nbsp;</button>  
      </a>
      </div> 
    
    <div>
      <a th:href="@{/notice/faq.do}">
      <button type="button" class="btn btn-outline-primary" style="font-size: 14.5px; padding: 10px 22px;">자주묻는질문</button>  
      </a>
    </div>
    
    <div>
      <a th:href="@{/notice/inquirywrite.form}">
      <button type="button" class="btn btn-outline-primary" style="font-size: 14.5px; padding: 10px 22px;">&nbsp;1:1문의하기&nbsp;</button>  
      </a>
    </div>
    </div>
    
    
    
    <div class="col-9" style=" margin-top: 50px;">
      <h2>공지사항</h2>
      <hr style="border: 1px solid black; margin-bottom: 0; margin-top: 10px;">
    </div>


    <div class="col-3"></div>

    
    <div class="col-9">   
    <div class="row">
      <h4 class="notice-text" style="font-size: 16px; font-weight: bold;" th:text="|공지사항 : ${notice.title}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;작성일:&nbsp;&nbsp;&nbsp;${notice.createdAt}|"></h4>
    </div>
      <hr style="border: 1px solid black; margin-bottom: 0; margin-top: 10px;">    
    </div>
    

    
   
    <div class="col-3"></div>
      <div class="col-9">   
      
      <div class="wrap1">
        <div class="box3"></div>
      </div>    
      
      <div class="contents" th:text="${notice.contents}"></div>
        
       
      </div>
      
      <div class="wrap1">
        <div class="box4"></div>        
      </div>
      
      
      <div class="col-3"></div>
 
      <div class="col-9"  style="padding-left:10px; padding-right: 40px;">
      <div class="text-center">
      <div>
        <form id="frm_btn" method="post">
            <input type="hidden" name="noticeNo" th:value="${notice.noticeNo}">
            <input type="hidden" name="title" th:value="${notice.title}">
            <input type="hidden" name="contents" th:value="${notice.contents}">
                <form class="frm_remove" method="post" th:action="@{/notice/remove.do}" style="display: inline;">
                  <th:block th:if="${session.user != null}">
                      <input type="hidden" name="noticeNo" th:value="${notice.noticeNo}">
                      <button type="submit" id="btn_edit" class="btn btn-outline-primary">수정</button>
                      <button type="submit" id="btn_remove" class="btn btn-danger btn-sm"style="width: 60px; height: 35px;">삭제</button>
                  </th:block>
                </form>
        </form>
      </div> 
      </div>
      </div>
           

      
      
      <div class="wrap1">
        <div class="box5"></div>        
      </div>
      
        


       
 
     

  
  
  
  
  
  
  </div>  
  </div>

    





    <div>
        <th:block th:if="${#lists.isEmpty(attachList)}">
          <div>첨부 없음</div>          
        </th:block>
        <th:block th:if="${not #lists.isEmpty(attachList)}">
          <th:block th:each="atc:${attachList}">
            <div class="attach" th:data-attach_no="${atc.attachNo}">
              <th:block th:if="${atc.hasThumbnail == 1}">
                <img th:src="@{|${atc.path}/s_${atc.filesystemName}|}" alt="썸네일" width="50">
              </th:block>
              <th:block th:if="${atc.hasThumbnail == 0}">
                <img th:src="@{/image/attach1.png}" alt="썸네일" width="50">
              </th:block>
              <a th:text="${atc.originalFilename}"></a>
            </div>
          </th:block>
        </th:block>
      </div>
      
    
    
    
    

    
    
    
    
    
    
    
      
      </div>
      </div>
      </div>
      
      
      
      
      
      <script>
      
      var frmBtn = $('#frm_btn');
      
      const fnEditNotice = () => {
        $('#btn_edit').click(() => {
          event.preventDefault();
          if(confirm('수정할꺼에요?')){
          frmBtn.attr('action', '/notice/edit.form');
          frmBtn.submit();
          }
        })
      }
      
      const fnRemoveNotice = () => {
        $('#btn_remove').click(() => {
          event.preventDefault();
          if(confirm('공지사항 삭제를 선택하셨습니다. 삭제할까요?')){
          frmBtn.attr('action', '/notice/remove.do');
          frmBtn.submit();
          }
          
        })
      }
  
      fnEditNotice();
      fnRemoveNotice();      
      
      
      </script>
      
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
        </div>
        <div class="col-1">       
        </div>
      </div>
    </div>
  
  </div>

  
  
  
  <div th:replace="~{/layout/footer::footer}"></div>
</body>
</html>

