<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('한반도 투어')}"></head> <!-- 이거 알맞게 바꿔주세요-->
    <style>
      .content > .form-control {
        height: 400px;
      }
      
      .wrap1 > .box1{
        height: 50px;
      }
      
      .wrap2 > .box2{
        height: 50px;
      }
      
      .wrap3 > .box3{
        height: 30px;
      }
    </style>

<body>
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap" th:object="${notice}">
  
  
     <div class="container text-center">
      <div class="row">
        <div class="col-1">       
        </div>
        <div class="col-10" style="border:1px gray dotted">
            <!--/*여기에 작성/ 다 만들고 style 지워주세요  */-->
        
                    <div>

      <form id="frm_notice_modify" method="post" th:action="@{/notice/modifyNotice.do}">
        
       <h1 class="title" th:text="|*{noticeNo}번 공지사항 수정|"></h1>
        
        
        <div class ="wrap2">
         <div class="box2"></div>
        </div>
        
        
        <!-- 제목  -->
        <div>
          <label for="title">제목</label>
          <input type="text" name="title" id="title" class="form-control" th:value="*{title}">
        </div>
        
        <div class ="wrap1">
         <div class="box1"></div>
        </div>
      
        <!-- 내용  -->  
        <div>
          <label for="contents">내용</label>
        </div>
        <div class="content">  
          <input type="text" name="contents" id="contents" class="form-control" th:value="*{contents}">  
        </div>
        
        <div class ="wrap3">
         <div class="box3"></div>
        </div>
      
        
      <!-- 수정완료 submit  -->  
      <div>
        <input type="hidden" name="noticeNo" th:value="*{noticeNo}">
        <button class="btn btn-primary col-12" type="submit">수정완료</button>
      </div>
        
      </form>
      </div>
            
            
            
        
      <script>
              const fnNoticeModify = () => {
        $('#frm_notice_modify').submit((ev) => {
          if($('#title').val() ===''){
            alert('제목은 반드시 입력해야 합니다.');
          $('#title').focus();
          ev.preventDefault();
          return;
          }
        })
      }
     
      fnNoticeModify();   
        
        
      </script>    
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
        </div>
        <div class="col-1">       
        </div>
      </div>
    </div>
  
  </div>

  
  
  
  <div th:replace="~{/layout/footer::footer}"></div>
</body>
</html>

