<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('한반도 투어')}"></head> <!-- 이거 알맞게 바꿔주세요-->
<style>

.wrap1 > .box1{
  height:50px;
}

.wrap1 > .box2{
  height:50px;
}

.wrap1 > .box3{
  height:50px;
}

.wrap1 > .box4{
  height:70px;
}

</style>



<body>
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">
  
  
     <div class="container text-center">
      <div class="row">
        <div class="col-1">       
        </div>
        <div class="col-10" style="border:1px gray dotted">
            <!--/*여기에 작성/ 다 만들고 style 지워주세요  */-->
       

  <h2>자주묻는질문</h2>
   
  <div class="wrap1">
    <div class="box1"></div>    
  </div>

  <div class="btn-toolbar mb-3 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <a th:href = "@{/notice/faqKorea.do}">
    <button type="button" class="btn btn-outline-secondary">국내패키지</button>
    </a>
    
    <a th:href = "@{/notice/faqCash.do}">
    <button type="button" class="btn btn-secondary">예약/결제</button>
    </a>
    
    <a th:href = "@{/notice/faqMember.do}">
    <button type="button" class="btn btn-outline-secondary">회원안내</button>
    </a>
    
    <a th:href = "@{/notice/faq.do}">
    <button type="button" class="btn btn-outline-secondary">기타</button>
    </a>
  </div>
  </div>
  
   
    <div class="wrap1">
    <div class="box4"></div>    
      </div>
    
    
    <div class="row">
      <div class="col-7"></div>
      <div class="col-4" style="display: flex; justify-content: flex-end;">
        <div class="home">
          <a th:href="@{http://localhost:8080}"><i class="fa-solid fa-house" style="font-size:15px; margin-right: 5px;"></i></a>
           &nbsp;고객센터  &nbsp;  >   &nbsp; 공지사항
        </div>
      </div>
      
      
  
    <div class="wrap1">
    <div class="box2"></div>    
  </div>
  
   <div class="row">
   <div class="col-1"></div>
   <div class="col-9">
   
  
  
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
   취소 및 환불 기준은 어떻게 되나요?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">[호텔/패키지]
<div>▶주말/공휴일을 제외한 출발 4일 전 변경 및 취소 시: 100% 환불</div>
<div>▶주말/공휴일을 제외한 출발 3일 전 변경 및 취소 시: 70% 환불 (수수료 30% 배상)</div>
<div>▶주말/공휴일을 제외한 출발 2일 전 변경 및 취소 시: 60% 환불 (수수료 40% 배상)</div>
<div>▶주말/공휴일을 제외한 출발 1일 전 변경 및 취소 시: 50% 환불 (수수료 50% 배상)</div>
<div>▶당일취소/미연락/당일불참 시 전액 환불 불가</div>
※호텔/패키지의 경우 객실 변경에 따른 차액금이 발생할 수 있습니다.
※호텔/패키지의 경우 취소 일자와 상관없이 선결제 된 경우 변경&취소시 수수료가 발생할 수 있습니다.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        여행을 취소하고싶어요
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">취소요청이란, 기존에 예약하신 상품을 취소하고 싶으실때 상품담당자에게 요청하는 제도입니다.

취소요청을 남기시면, 상품 담당자에게 요청내용이 전달되며 담당자 승인시 취소가 완료됩니다.

<div>- 환불규정은 담당자 승인일자를 기준으로 합니다.</div>
<div>- 문의사항은 담당자를 통해 확인하시기 바랍니다.</div>
<div>- 취소규정은 주말, 공휴일을 제외한 영업일수로 계산됩니다.</div>
<div>- 취소는 정규업무 시간내에만 가능합니다. 정규업무 시간외 취소시 익일 규정 적용됩니다.</div>
<div>- 업무시간 월~금 09:00~18:00 (법정공휴일 제외)</div>
 </div>
    </div>
</div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        현금영수증 해주세요
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">현금영수증은 해당 여행 종료 후 발행됩니다.
여행 예약시 발행 원하시는 번호 남겨주시면, 여행 종료 후 발행해드립니다.</div>
</div>

    </div>
  </div>
</div>
 </div>
 
 <div class="wrap1">
    <div class="box3"></div>   
 </div>
 
 
 
 </div>           
            
  </div>          
            
            
            
            
            
        </div>
        <div class="col-1">       
        </div>
      </div>
    </div>
  
  </div>

  </div>
  
  
  <div th:replace="~{/layout/footer::footer}"></div>
</body>
</html>

