<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('약관동의')}"></head>

<script th:src="@{/js/user_agree.js}"></script>
<style>
  .title{
    font-size: 30px;
    font-weight: 400;
  }
</style>
<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">
    
    <div class="wrap wrap_5">
    
      <p class="title">약관내용에 동의해주세요✅</p>
    
      <form id="frm_agree" th:action="@{/user/join.form}">
      
        <div class="form-check mt-3">
          <input type="checkbox" class="form-check-input" id="chk_all">
          <label class="form-check-label" for="chk_all">
            모두 동의합니다
          </label>
        </div>
    
        <hr class="my-2">
        
        <div class="form-check mt-3">
          <input type="checkbox" name="service" class="form-check-input chk_each" id="service">
          <label class="form-check-label" for="service">
            서비스 이용약관 동의(필수)
          </label>
        </div>
        <div>
          <textarea rows="15" class="form-control">제 1 장 총칙

 

제 1 조 ( 목적 )  이 약관은  한반도투어 ( 이하  " 여행사관 " 이라 한다 )  홈페이지가 제공하는 자료이용을 위하여 여행사관 회원 가입 시 회원과 여행사관간의 권리 ,  의무 ,  책임사항과 기타 필요한 사항을 규정함을 목적으로 합니다 .

 

제 2 조 ( 용어의 정의 )  이 약관에서 사용하는 용어의 정의는 다음과 같습니다 .

①  회원  :  여행사관 홈페이지에 회원가입에 필요한 개인정보를 제공하여 등록을 한 사람

②  가입  :  여행사관 홈페이지가 제공하는 신청서 양식에 해당 정보를 기입하고 ,  본 약관에 동의하여 일련의 회원등록을 하는 절차

③  회원번호 (ID) :  회원 식별과 자료이용을 위하여 회원이 선정하고 여행사관이 부여하는 영문 ,  숫자 등의 조합

④  비밀번호 (PW) :  회원의 정보 보호를 위해 회원 자신이 선정한 영문 ,  숫자 등의 조합

⑤  탈퇴 ( 해지 ) :  여행사관 또는 회원이 서비스 이용 후 회원의 신분을 유지하지 아니하려는 의사표시

 

제 3 조 ( 약관의 효력과 변경 )

①  이 약관은 여행사관 회원 가입 시 약관 내용에 동의하는 경우 ,  여행사관의 자료제공 및 회원의 자료이용 사항에 대하여 이를 적용합니다 .

②  여행사관 홈페이지는 필요하다고 인정하는 경우 이 약관의 내용을 변경할 수 있으며 ,  변경된 약관은 서비스 화면에 공지하며 ,  공지 후  7 일 이후에도 거부의사를 표시하지 아니하고 서비스를 계속 사용할 경우 약관의 변경 사항에 동의한 것으로 봅니다 .

③  회원은 변경된 약관에 동의하지 않을 경우 회원 탈퇴 ( 해지 ) 를 요청할 수 있습니다 .

 

제 4 조 ( 약관 외 준칙 )  본 약관에 명시되지 아니한 사항은 관계법령 및 여행사관 운영규정에서 정하는 바에 따릅니다 .
</textarea>
        </div>
        
        <div class="form-check mt-3">
          <input type="checkbox" name="event" class="form-check-input chk_each" id="event">
          <label class="form-check-label" for="event">
            이벤트 알림 동의(선택)
          </label>
        </div>
        <div>
          <textarea rows="15" class="form-control">【 개인정보의 제3자 제공 】

- 통합여행사 가입 시 가입여행사관에 개인정보 수집 후 국립중앙여행사관, 지역대표여행사관에 개인정보를 제공합니다. 또한 참여여행사관 중 이용하지 않은 여행사관을 최초 이용하는 시점에 개인정보가 제공됩니다.

- 참여여행사관 및 개인정보 제공현황은 통합여행사홈페이지에서 확인 가능합니다. (http://book.nl.go.kr)


【 개인정보를 제공받는 자의 개인정보 이용 목적 】

하나의 회원증으로 참여하는 여행사관의 서비스를 이용하기 위한 통합여행사서비스 회원제 서비스 이용, 개인식별 등을 목적으로 개인정보를 처리합니다.


【 제공하는 개인정보의 항목 】

이름, 휴대폰, E-Mail, 생일, 자택우편번호, 자택주소, 자택전화, 근무지우편번호, 근무지주소, 근무지전화, 근무처, 부서명, 학교명, 학년, 반, 번, 번호


【 개인정보를 제공받는 자의 개인정보 보유 및 이용 기간 】

가. 보존근거: 정보주체의 동의

나. 보존기간: 탈퇴 의사 후 즉시


【 동의 거부 권리 및 불이익 】

동의를 거부할 권리가 있으며, 거부 시 회원가입을 제한합니다.</textarea>
        </div>
    
        <div class="mt-3 text-center">
          <button type="submit" class="w3-btn w3-round-xxlarge w3-green w3-block mx-auto">다음</button>
        </div>
        
      </form>
    
    </div>

  </div>

  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>