<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('찜페이지')}"></head>


<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="container text-center">  <!-- 그리드 시작 -->  
    <div class="row">
      <div class="col-1">
    <div class="w3-sidebar w3-bar-block" style="width:8%; height:200px;"> <!-- 사이드바 -->
      <a href='' class="w3-bar-item w3-button">내 정보</a>
      <a href='' class="w3-bar-item w3-button">내 예약</a>
    </div>    
      </div>
      <div class="col-10" >
       <table class="table w-75 p-3 text-center">
          <thead>
            <tr>
              <th scope="col">❤️
                <input type="checkbox" value="" >
                  <label for="flexCheckDefault">
                </label>
              </th>
              <th scope="col">제목</th>
              <th scope="col">가격</th>
            </tr>
          </thead>
          <tbody>
           <th:block  th:each=" heart :${heartList}">
            <tr>             
              <td scope="row">💙
                  <input type="checkbox" value="" >
                  <label for="flexCheckDefault">
                  </label>
              </td>
              <td>
                <a th:href="@{/package/detail.do(packageNo=${heart.packageDto.packageNo})}" th:text="${heart.packageDto.packageTitle}"></a>
              </td>
              <td th:text="${heart.packageDto.price}"></td>
            </tr>
           </th:block>
          </tbody>
          <tfoot>
           <tr>
             <td colspan="3" th:utext="${paging}"></td>
           </tr>
          </tfoot>
          </table>           
      </div>
    <div class="col-1">      
    </div>
  </div>
  </div>
    
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>