<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('한반도 투어')}"></head> <!-- 이거 알맞게 바꿔주세요-->
<style>
.temp {
  border: 1px black solid; 
  
 }
.right {
  border: 1px lightgray solid;
  margin: 22px 0 20px 0;
 } 
.bigPicture {
  width: 100%;
  margin-bottom: 10px;
}
.bigPicture > img{
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.owl_img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
#imageWrapper {
	height: 180px;
}

.d-block {
  margin: 15px auto 15px auto;
  height: 100px;
}
.hit {
	text-align: left;
	margin-bottom: 10px;
} 
</style>

<body>
	<div th:replace="~{/layout/header::header}"></div>
	
	<div class="main_wrap">
	
	
		 <div class="container text-center">
		  <div class="row">
		    <div class="col-1">	      
		    </div>
		    <div class="col-10" style="border:1px gray dotted; ">
		      	<!--/*여기에 작성/ 다 만들고 style 지워주세요  */-->
    		     
    		    <th:block th:if="${session.user != null}">
             <th:block th:if="${session.user.auth == 0}">
               <button type="button" id="btn_edit">편집</button> 
               <button type="button" id="btn_remove">삭제</button> 
             </th:block>
            </th:block>   
            <div class="row">
              <div class="col-8 temp">
                <div class="hit" th:text="|조회수 : ${hotel.hit}|"></div>
                <div class="mainPicture" >
                  <div class="bigPicture">
										<th:block th:each="hotelImage : ${hotelImage}">
											<img th:if="${hotelImage.thumbnail == 1}" th:src="@{|${hotelImage.imagePath}/${hotelImage.filesystemName}|}">
										</th:block>
									</div>
                  <div class="owl-carousel owl-theme" id="imageWrapper">
                    <th:block th:each="hotelImage : ${hotelImage}">
                      <img class="owl_img" th:src="@{|${hotelImage.imagePath}/${hotelImage.filesystemName}|}">
                    </th:block>
                  </div>
                </div>
                <div>
									<div th:text="${hotel.hotelName}"></div>
									<div th:text="${hotel.hotelAddress}" ></div>
									<div th:text="${hotel.phoneNumber}" ></div>
									<div th:text="${hotel.hEmail}" ></div>
									<div th:text="|최저 ${lowPrice[0]}원 부터|"></div>
									<hr>
									<div th:text="${hotel.hotelDetail}"></div>
								</div>
                <div>
									<div>편의 시설</div>
									<i th:if="${fac.pool == 0}" class="fa-solid fa-person-swimming fa-2xl" style="color: #9399a5;"></i>
									<i th:if="${fac.pool == 1}" class="fa-solid fa-person-swimming fa-2xl" style="color: #2f7fa7;"></i>
									<i th:if="${fac.morning == 0}" class="fa-solid fa-utensils fa-2xl" style="color: #9399a5;"></i>
									<i th:if="${fac.morning == 1}" class="fa-solid fa-utensils fa-2xl" style="color: #2f7fa7;"></i>
									<i th:if="${fac.sauna == 0}" class="fa-solid fa-hot-tub-person fa-2xl" style="color: #9399a5;"></i>
									<i th:if="${fac.sauna == 1}" class="fa-solid fa-hot-tub-person fa-2xl" style="color: #2f7fa7;"></i>
									<i th:if="${fac.roomservice == 0}" class="fa-solid fa-bell-concierge fa-2xl" style="color: #9399a5;"></i>
									<i th:if="${fac.roomservice == 1}" class="fa-solid fa-bell-concierge fa-2xl" style="color: #2f7fa7;"></i>
									<i th:if="${fac.lounge == 0}" class="fa-solid fa-couch fa-2xl" style="color: #9399a5;"></i>
									<i th:if="${fac.lounge == 1}" class="fa-solid fa-couch fa-2xl" style="color: #2f7fa7;"></i>
								</div>
							</div>
							<div class="col-4 temp">
              <div class="right">
                <form th:action="@{/reserve/writeHotel.form}" method="get">
                  <div class="title" id="sideTitle" th:text="${hotel.hotelName}"></div>
                  <input type="hidden" id="hotelNo" name="hotelNo" th:value="${hotel.hotelNo}">
                  <input type="hidden" id="reserveRoomNo" name="roomNo">
                  <div class="roomType">방타입</div>
                  <div class="price">금액</div>
                  <div class="checkIn">체크인 : <span th:text="${#dates.format(#dates.createToday(),'yyyy/MM/dd')}"></span></div>
                  <div class="checkout">체크아웃 : <span th:text="${#temporals.format(#temporals.createNow().plusDays(+1), 'yyyy/MM/dd')}"></span></div>
                  <button type="button">날짜 선택</button>
                  <button type="submit">예약하기</button>
                  <button type="button">찜하기</button>
                </form> 
              </div>
              <div id="map" style="width:100%;height:350px;">
                <input type="hidden" id="latitude" th:value="${hotel.latitude}">
                <input type="hidden" id="longitude" th:value="${hotel.longitude}">
              </div>
            </div>
								
								
								
							<th:block th:each="roomType, roomTypeStat : ${roomType}">
              <input type="hidden" th:id="${'roomNo' + roomTypeStat.count}" th:value="${roomType.roomFeatureDto.roomNo}">
              <div>
								<div class="row">
									<div class="col-3 temp">
										<div th:id="${'roomCarousel' + roomTypeStat.count}" class="carousel slide">
										  <div class="carousel-inner">
                        <th:block th:each="roomImage : ${hotelImage}">
                            <div th:if="${roomImage.roomNo == roomType.roomFeatureDto.roomNo}" class="carousel-item">
                               <img th:src="@{|${roomImage.imagePath}/${roomImage.filesystemName}|}" class="d-block w-100" >
                            </div>
                        </th:block>
										    
										  </div>
										  <button class="carousel-control-prev" type="button" th:data-bs-target="${'#roomCarousel' + roomTypeStat.count}" data-bs-slide="prev">
										    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
										    <span class="visually-hidden">Previous</span>
										  </button>
										  <button class="carousel-control-next" type="button" th:data-bs-target="${'#roomCarousel' + roomTypeStat.count}" data-bs-slide="next">
										    <span class="carousel-control-next-icon" aria-hidden="true"></span>
										    <span class="visually-hidden">Next</span>
										  </button>
										</div>
										<div th:text="|침대 : ${roomType.bed}|"></div>
										<div th:text="|전망 : ${roomType.rView}|"></div>
										<div th:text="|허용인원 : ${roomType.people} 명|"></div>
										<div th:if="${roomType.bleakfast == 0}">조식 : <i class="fa-solid fa-x" style="color: #96b2c5;"></i></div>
										<div th:if="${roomType.bleakfast == 1}">조식 : <i class="fa-sharp fa-solid fa-o" style="color: #96b6c5;"></i></div>
										<div th:if="${roomType.smoke == 0}">흡연 : <i class="fa-solid fa-x" style="color: #96b2c5;"></i></div>
										<div th:if="${roomType.smoke == 1}">흡연 : <i class="fa-sharp fa-solid fa-o" style="color: #96b6c5;"></i></div>
										<div th:text="|${roomType.shower}|"></div>
										<div th:text="|방크기 : ${roomType.rSize}|"></div>
									</div>
									<div class="col-6 temp">
										<div th:text="${roomType.roomName}" th:class="${'roomName'+roomTypeStat.count}"></div>
										<div th:text="${roomType.roomDetail}"></div>
										<div>
											<i th:if="${roomType.roomFeatureDto.water == 0}" class="fa-solid fa-bottle-water fa-2xl" style="color: #9399a5;"></i>
											<i th:if="${roomType.roomFeatureDto.water == 1}" class="fa-solid fa-bottle-water fa-2xl" style="color: #2f7fa7;"></i>
											<i th:if="${roomType.roomFeatureDto.coffee == 0}" class="fa-solid fa-mug-saucer fa-2xl" style="color: #9399a5;"></i>
											<i th:if="${roomType.roomFeatureDto.coffee == 1}" class="fa-solid fa-mug-saucer fa-2xl" style="color: #2f7fa7;"></i>
											<i th:if="${roomType.roomFeatureDto.drier == 0}" class="fa-solid fa-wind fa-2xl" style="color: #9399a5;"></i>
											<i th:if="${roomType.roomFeatureDto.drier == 1}" class="fa-solid fa-wind fa-2xl" style="color: #2f7fa7;"></i>
											<i th:if="${roomType.roomFeatureDto.towel == 0}" class="fa-solid fa-rug fa-2xl" style="color: #9399a5;"></i>
											<i th:if="${roomType.roomFeatureDto.towel == 1}" class="fa-solid fa-rug fa-2xl" style="color: #2f7fa7;"></i>
											<i th:if="${roomType.roomFeatureDto.minibar == 0}" class="fa-solid fa-martini-glass fa-2xl" style="color: #9399a5;"></i>
											<i th:if="${roomType.roomFeatureDto.minibar == 1}" class="fa-solid fa-martini-glass fa-2xl" style="color: #2f7fa7;"></i>
											<i th:if="${roomType.roomFeatureDto.iron == 0}" class="fa-solid fa-shirt fa-2xl" style="color: #9399a5;"></i>
											<i th:if="${roomType.roomFeatureDto.iron == 1}" class="fa-solid fa-shirt fa-2xl" style="color: #2f7fa7;"></i>
										</div>
										  
									</div>
									<div class="col-3 temp">
                    <th:block th:each="price : ${price}">
                      <th:block th:if="${price.roomNo == roomType.roomFeatureDto.roomNo}">
                        <th:block th:if="${price.bsDate <= #calendars.format(#calendars.createNow(), 'yyyy/MM/dd') && price.beDate >= #calendars.format(#calendars.createNow(), 'yyyy/MM/dd')}">
                          <div th:text="|비수기 : ${price.bsDate} ~ ${price.beDate}|"></div>
                          <div th:text="|${price.biPrice}원|"> </div>
                        </th:block>
                        <th:block th:if="${price.jsDate <= #calendars.format(#calendars.createNow(), 'yyyy/MM/dd') && price.jeDate >= #calendars.format(#calendars.createNow(), 'yyyy/MM/dd')}">
                          <div th:text="|준성수기 : ${price.jsDate} ~ ${price.jeDate}|"></div>
                          <div th:text="|${price.junPrice}원|"> </div>
                        </th:block>
                        <th:block th:if="${price.ssDate <= #calendars.format(#calendars.createNow(), 'yyyy/MM/dd') && price.seDate >= #calendars.format(#calendars.createNow(), 'yyyy/MM/dd')}">
                          <div th:text="|성수기 : ${price.ssDate} ~ ${price.seDate}|"></div>
                          <div th:text="|${price.sungPrice}원|"> </div>
                        </th:block>
                      </th:block>
										</th:block>
										<div><button type="button" class="btn-choice" th:attr="data-roomno=${'roomNo' + roomTypeStat.count}" onclick="selectRoom(this.getAttribute('data-roomno'))">선택</button></div>
										<div th:text="|남은방 : ${roomType.roomMany - countReserveRoom[roomTypeStat.index]} 개| "></div>
									</div>
								</div>
							</div>
              </th:block>  
            </div>
            
            
            	<th:block th:if="${session.user != null}">
        <input type="hidden" name="userNo" id="userNo" th:value="${session.user.userNo}">
        </th:block>
        <!--
        <div th:each="reservation : ${reserve}">
            <div class="reserveNo" th:text="${reservation.reserveNo}|"th:value="${reservation.reserveNo}"></div>
            <div class="reserveUserNo" th:text="${reservation.userDto.userNo}" th:value="${reservation.userDto.userNo}"></div>
        </div>    -->
        
        <div class="choice">여행 후기</div>
        
          <form class="mb-3 frm_review_add" method="post">
          <div id="myform">
          <fieldset>
            <span class="text-bold"> ❤️ 별점을 선택해주세요</span>
            <input type="radio" name="star" th:value="5" id="rate1"><label
              for="rate1">★</label>
            <input type="radio" name="star" th:value="4" id="rate2"><label
              for="rate2">★</label>
            <input type="radio" name="star" th:value="3" id="rate3"><label
              for="rate3">★</label>
            <input type="radio" name="star" th:value="2" id="rate4"><label
              for="rate4">★</label>
            <input type="radio" name="star" th:value="1" id="rate5"><label
              for="rate5">★</label>
          </fieldset>
              <input type="hidden" name="packageNo" th:value="${hotel.hotelNo}">
            <div>                          
              <textarea class="col-auto form-control" name="reviewContents" placeholder="행복했던 여행후기를 남겨보세요🙂"></textarea>   <!-- 예약한사람만 보이게 -->
              <button type="button" class="btn btn-kong" id="btn_review_add" style="margin-top: 20px; margin-left: 750px">작성완료</button>
            </div>
            </div>
           </form>
           
            
          <div style="overflow: hidden;">
           <div id="starAve" style="text-align: left;">리뷰평점</div>
            <div style="height: 100px; float: right;">
                <select id="sortReview" class="form-select form-select-sm mb-3 h-50 d-inline-block" style="width: 120px;" aria-label=".form-select-sm example">
                    <option value="1" selected>최신순</option>
                    <option value="2">별점순</option>
                </select>
            </div>
        </div>
        <div id="reviewAccordion">
             <input type="hidden" id="packageNo" name="packageNo" th:value="${hotel.hotelNo}">     
             
        </div>  
    </div>    

            
            
            
            
		    	</div>
		    <div class="col-1">	      
		    </div>
		  </div>
	  </div>
	
	</div>
<script th:inline="javascript">
  var carouselInnerDivs = document.getElementsByClassName('carousel-inner');

		// 각 div에 대해 반복
		for (var i = 0; i < carouselInnerDivs.length; i++) {
    // 현재 div의 첫 번째 자식에 클래스 추가
	    var firstChild = carouselInnerDivs[i].firstElementChild;
	    
	    // 만약 첫 번째 자식이 존재한다면 클래스 추가
	    if (firstChild) {
	        firstChild.classList.add('active'); 
		  }
		}
  
  function kakaoMap(){
    var latitude = $('#latitude').val();
    var longitude = $('#longitude').val(); 
    var title = $('#sideTitle').text()
    
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
      mapOption = { 
          center: new kakao.maps.LatLng(latitude, longitude), // 지도의 중심좌표
          level: 3 // 지도의 확대 레벨
      };
    
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    
    // 마커가 표시될 위치입니다 
    var markerPosition  = new kakao.maps.LatLng(latitude, longitude); 
    
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });
    
    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);
    
    var iwContent = '<div style="padding:5px;">'+title+'<br><a href="https://map.kakao.com/link/map/Hello World!,'+latitude+','+longitude+'" style="color:blue" target="_blank">큰지도보기</a> <a href="https://map.kakao.com/link/to/Hello World!,'+latitude+','+longitude+'" style="color:blue" target="_blank">길찾기</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
      iwPosition = new kakao.maps.LatLng(33.450701, 126.570667); //인포윈도우 표시 위치입니다
  
    // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
        position : iwPosition, 
        content : iwContent 
    });
      
    // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
    infowindow.open(map, marker); 
  }
  
  $(document).ready(function (e){
    
    $(document).on("click","img",function(){
      var path = $(this).attr('src')
      showImage(path);
    });//end click event
    
    function showImage(fileCallPath){
        $(".bigPicture").empty();
        $(".bigPicture")
        .html("<img src='"+fileCallPath+"' >")
        .animate({width:'100%', height: '100%'}, 1000);
        
      }//end fileCallPath
  });

  $(document).ready(function() {
           var owl = $('.owl-carousel');
            owl.owlCarousel({
              items: 4, // 한번에 보여지는 이미지 수
              loop: true, // 항목들을 무한으로 반복하여 보여줄지 여부
              autoplay: false, // 자동으로 슬라이드 쇼를 시작할지 여부
              autoplayTimeout: 4000, // 다음 이미지로 넘어가는 시간 (단위 : 밀리초)
              autoplayHoverPause: true, // 마우스가 이미지에 위에 있을 때 자동 슬라이드를 일시중지 할지 여부
              dots: false,
              nav: true,
              margin: 10,
            });           
          });
  
  function selectRoom(roomNo){
   console.log(roomNo);
   roomNumber = document.getElementById(roomNo).value;
   document.getElementById('reserveRoomNo').value = roomNumber;
   console.log(document.getElementById('reserveRoomNo').value);
   console.log(document.getElementById('hotelNo').value);
 }
  
  const fnReviewAdd = () => {
    $('#btn_review_add').click(() => {         
        // 데이터 확인용
        console.log('Review Contents:', $('textarea[name="reviewContents"]').val());
        console.log('User No:', $('#userNo').val());
        console.log('Package No:', $('input[name="packageNo"]').val());
        console.log('Reserve No:', $('input[name="reserveNo"]').val());
        console.log('Star:', $('input[name="star"]:checked').val());
        
        $.ajax({
            type: 'post',
            url: '/package/addReview.do',
            data: {
                // 리뷰 번호를 보내지 않음
                reviewContents: $('textarea[name="reviewContents"]').val(),
                userNo: $('#userNo').val(),
                packageNo: $('input[name="packageNo"]').val(),
                reserveNo: $('input[name="reserveNo"]').val(),
                star: $('input[name="star"]:checked').val()                
            },
            dataType: 'json',
            success: (resData) => {             
                console.log('Response Data:', resData); // 콘솔에 응답 데이터 출력
                if (resData.addReviewResult === 1) {
                    alert('리뷰가 등록되었습니다.');
                    $('#reviewContents').val('');
                    fnReviewList();
                } else {
                    alert('리뷰 등록에 실패했습니다.');
                }
            },
            error: (xhr, status, error) => {
                console.error('AJAX Error:', error);
                alert('AJAX 요청 중 오류가 발생했습니다.');
            }
        });
    });
}


    var page = 1;
    var totalPage = 0;
  
    const packageNo = $('#packageNo').val();
  
    const fnReviewList = () => { 
      $.ajax({
        type: 'get',
        url: '/package/reviewList.do',
        data: { page: page, packageNo: packageNo},
        dataType: 'json',
        success: (resData) => {
          totalPage = resData.totalPage;
          $('#reviewAccordion').empty();
          const sessionUserNo = $('#userNo').val();
          if (resData.reviewList != null && resData.reviewList.length > 0) {
            $.each(resData.reviewList, (i, review)=> {
              let str = '<div class="accordion accordion-flush">';
              str += '<div class="accordion-item">';
              str += '<h2 class="accordion-header">';
              str += '<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse' + i + '" aria-expanded="false" aria-controls="flush-collapse' + i + '">' + review.userDto.name + '님의 리뷰  ' + generateStarRating(review.star) + '</button>';
              str += '</h2>';
              str += '<div id="flush-collapse' + i + '" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">';
              str += '<div class="accordion-body">' + review.reviewContents + '</div>';
              str += '  <div>';
              if(sessionUserNo == review.userDto.userNo){                
                    str += '  <input type="hidden" value="' + review.reviewNo + '">';
                    str += '  <button type="button" class="btn remove_Review" style="margin-left: 550px;">삭제하기</button>';
                  }
                    str += '  </div>';
              str += '</div>';
              str += '</div>';
              str += '</div>';
                $('#reviewAccordion').append(str);         
            });
          } else {
            $('#reviewAccordion').append('<div class="text-center">등록된 리뷰가 없습니다.</div>');
          }
        },
        error: (error) => {
          console.error('Ajax 요청 에러:', error);
        }
      });
    };
    
	   $('#sortReview').change(function () {
      const selectedOption = $(this).val();
    
      if (selectedOption === '2') {
         fnReviewStarList();
      } else {
         fnReviewList();
      }
      });	
  
   const fnReviewStarList = () => { 
      $.ajax({
        type: 'get',
        url: '/package/reviewStarList.do',
        data: { page: page, packageNo: packageNo},
        dataType: 'json',
        success: (resData) => {
          totalPage = resData.totalPage;
          $('#reviewAccordion').empty();
          const sessionUserNo = $('#userNo').val();
          if (resData.reviewList != null && resData.reviewList.length > 0) {
            $.each(resData.reviewList, (i, review)=> {
              let str = '<div class="accordion accordion-flush">';
              str += '<div class="accordion-item">';
              str += '<h2 class="accordion-header">';
              str += '<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse' + i + '" aria-expanded="false" aria-controls="flush-collapse' + i + '">' + review.userDto.name + '님의 리뷰  ' + generateStarRating(review.star) + '</button>';
              str += '</h2>';
              str += '<div id="flush-collapse' + i + '" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">';
              str += '<div class="accordion-body">' + review.reviewContents + '</div>';
              str += '  <div>';
              if(sessionUserNo == review.userDto.userNo){                
                    str += '  <input type="hidden" value="' + review.reviewNo + '">';
                    str += '  <button type="button" class="btn remove_Review" style="margin-left: 550px;">삭제하기</button>';
                  }
                    str += '  </div>';
              str += '</div>';
              str += '</div>';
              str += '</div>';
                $('#reviewAccordion').append(str);         
            });
          } else {
            $('#reviewAccordion').append('<div class="text-center">등록된 리뷰가 없습니다.</div>');
          }
        },
        error: (error) => {
          console.error('Ajax 요청 에러:', error);
        }
      });
    };
  
  
  $(document).ready(function() {
        var sessionUserNo = $('#userNo').val();
        var reserveUserNos = [];
  
        $('.reserveNo').each(function() {
            var reservationUserNo = $(this).next('.reserveUserNo').text();
            reserveUserNos.push(reservationUserNo);
        });    
        var matchingUserNo = reserveUserNos.filter(function(userNo) {
            return userNo === sessionUserNo;
        })[0];
        if (matchingUserNo) {
            $('#myform').show();
        } else {
            $('#myform').hide();
        }
    });
     
      $(document).ready(function() {
          $.ajax({
              type: 'post',
              url: '/package/getAverageRating.do',
              data: {
                  packageNo: $('input[name="packageNo"]').val()
              },
              dataType: 'json',
              success: function(resData) {
                  updateAverageRating(resData.averageRating);
              },
              error: function(xhr, status, error) {
                  console.error('AJAX Error:', error);
                  alert('평균 별점 업데이트 중 오류가 발생했습니다.');
              }
          });
      });
      
      function updateAverageRating(averageRating) {
          var displayText = averageRating ? '평균 별점: ' + averageRating.toFixed(0) : '평점 : 0';
          $('#starAve').text(displayText);
      }


    const fnReviewRemove = () => {
      $(document).on('click', '.remove_Review', (ev) => {
        if(!confirm('리뷰를 삭제할까요?')){
          return;
        }
        $.ajax({
          // 요청
          type: 'post',
          url: '/package/removeReview.do',
          data: 'reviewNo=' + $(ev.target).prev().val(),
          // 응답
          dataType: 'json',
          success: (resData) => { 
            if(resData.removeResult === 1){
              alert('해당 리뷰가 삭제되었습니다.');
              fnReviewList();
            } else {
              alert('리뷰가 삭제되지 않았습니다.');
            }
          }
        })
      })
    }
    
    
    function generateStarRating(star) {
    let stars = '';
    for (let i = 1; i <= 5; i++) {
        if (i <= star) {
            stars += '<i class="fa-solid fa-star" style="color: #ede502;"></i>'; 
        } else {
            stars += '<i class="fa-regular fa-star" style="color: #f0c424;"></i>'; 
        }
    }
    return stars;
} 
  
  
  
  
  kakaoMap();
  
</script>
	
	
	
	<div th:replace="~{/layout/footer::footer}"></div>
</body>
</html>

