<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/init.css(ver=1.1)}" />
<link rel="stylesheet" th:href="@{/css/common.css(ver=1.0)}" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>



	<div class="main_wrap">
		<!--/* Modal Header */-->
					
	  <div class="modal-header">
	    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
	    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	  </div>
	  <div class="modal-body">
	    <div class="roomGroup">
				<form id="frm_room" name="frm_room" method="post" accept="image/*" enctype="multipart/form-data">
          <input type="hidden" id="hotelNo" name="hotelNo" th:value="${hotelNo}">
		      <input type="file" name="files" id="files" class="form-control" multiple>
		      <label for="roomName" >객실이름</label>
		      <input type="text" id="roomName" class="form-control" name="roomName">
		      <label for="roomDetail">객실상세</label>
		      <textarea id="roomDetail" class="form-control" name="roomDetail"></textarea>
		      <label for="rView">전망</label>
		      <input type="text" id="rView" class="form-control" name="rView"> 
		      <label for="bed">침대</label>
		      <input type="bed" id="bed" class="form-control" name="bed"> 
		      <label for="shower">욕실</label>
		      <input type="text" id="shower" class="form-control" name="shower"> 
		      <label for="rSize">방사이즈</label>
		      <input type="text" id="rSize" class="form-control" name="rSize">
		      <label for="smoke" class="form-check-label">흡연유무</label>
		      <input type="checkbox" id="smoke" class="form-check-input" name="smoke" value="1">
		      <label for="bleakfast" class="form-check-label">조식</label>
		      <input type="checkbox" id="bleakfast" class="form-check-input" name="bleakfast" value="1">
		      <label for="people">허용인원</label>
		      <input type="text" id="people" class="form-control" name="people">
		      <label for="roomMany">객실개수</label>
		      <input type="text" id="roomMany" class="form-control" name="roomMany">
		      
		      <h4>객실 구비사항</h4>
		      <label for="towel" class="form-check-label">수건</label>
		      <input type="checkbox" id="towel" class="form-check-input" name="towel" value="1">
		      <label for="water" class="form-check-label">생수</label>
		      <input type="checkbox" id="water" class="form-check-input" name="water" value="1">
		      <label for="coffee" class="form-check-label">커피/티</label>
		      <input type="checkbox" id="coffee" class="form-check-input" name="coffee" value="1">
		      <label for="drier" class="form-check-label">드라이기</label>
		      <input type="checkbox" id="drier" class="form-check-input" name="drier" value="1">
		      <label for="iron" class="form-check-label">다리미</label>
		      <input type="checkbox" id="iron" class="form-check-input" name="iron" value="1">
		      <label for="minibar" class="form-check-label">미니바</label>
		      <input type="checkbox" id="minibar" class="form-check-input" name="minibar" value="1">
		      <div>비수기</div>
		      <label for="biPrice">금액</label>
		      <input type="text" id="biPrice" name="biPrice" class="form-control">
		      <label for="bsDate">날짜</label>
		      <input type="text" id="bsDate" name="bsDate" ><input type="date" id="beDate" name="beDate">
		      <div>준성수기</div>
		      <label for="junPrice">금액</label>
		      <input type="text" id="junPrice" name="junPrice" class="form-control">
		      <label for="jsDate">날짜</label>
		      <input type="date" id="jsDate" name="jsDate"><input type="date" id="jeDate" name="jeDate">
		      <div>성수기</div>
		      <label for="sungPrice">금액</label>
		      <input type="text" id="sungPrice" class="form-control" name="sungPrice">
		      <label for="ssDate">날짜</label>
		      <input type="date" id="ssDate" name="ssDate"><input type="date" id="seDate" name="seDate">
    </div>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	    <button type="button" class="btn btn-primary" id="btn_room">등록</button>
	  </div>
	</form>
	
	</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script>
  
  
  
   $('#btn_room').click(() => {
		 var form = $('#frm_room')[0];
		 var formData = new FormData(form)
		 
		 $.ajax({
			 type: 'POST',
			 enctype: 'multipart/form-data',
			 url: '/hotel/addHotelRoom.do',
			 data: formData,
			 processData: false,
		   contentType: false,
		   cache: false,
		   dataType: 'text',
			 success: (resData) => {
				 if(resData != null && resData != ""){
					 if(resData == 1){
						 alert("등록되었습니다.");
					 } else if(resData == 0) {
						 alert("등록되지않았습니다.");
					 }
				 }
			 }
		 })
   })
  console.log($('#hotelNo').val());
    
</script>

	
	
</body>
</html>

