<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">



	<div class="main_wrap">
		<!--/* Modal Header */-->
					
	  <div class="modal-header">
	    <h1 class="modal-title fs-5" id="staticBackdropLabel">객실 등록</h1>
	    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	  </div>
	  <div class="modal-body">
	    <div class="roomGroup" style="margin:15px;"  >
				<form id="frm_room" name="frm_room" method="post" accept="image/*" enctype="multipart/form-data">
          <input type="hidden" id="hotelNo" name="hotelNo" th:value="${hotelNo}">
		      <div style="text-align: left;">
            <label for="files" class="form-label" style="font-weight: 500;">객실사진첨부</label>
            <input type="file" name="files" id="roomFiles" class="form-control" accept="image/*" multiple>
          </div>
          <div style="text-align: left;">
  		      <label for="roomName" class="form-label" style="font-weight: 500;">객실이름</label>
  		      <input type="text" id="roomName" class="form-control" name="roomName">
		      </div>
		      <div style="text-align: left;">
  		      <label for="roomDetail" class="col-form-label" style="font-weight: 500;">객실상세</label>
  		      <textarea id="roomDetail" class="form-control" name="roomDetail" rows="10" style="margin-bottom: 10px;"></textarea>
		      </div>
		      <div style="text-align: left;">
  		      <label for="rView" class="form-label" style="font-weight: 500;">전망</label>
  		      <input type="text" id="rView" class="form-control" name="rView"> 
  		      <label for="bed" class="form-label" style="font-weight: 500;">침대</label>
  		      <input type="bed" id="bed"class="form-control" name="bed"> 
  		      <label for="shower" class="form-label" style="font-weight: 500;">욕실</label>
  		      <input type="text" id="shower" class="form-control" name="shower"> 
  		      <label for="rSize" class="form-label" style="font-weight: 500;">방사이즈</label>
  		      <input type="text" id="rSize" class="form-control" name="rSize">
  		      <div>
  		      <label for="smoke" class="form-check-label" style="font-weight: 500;">흡연유무</label>
  		      <input type="checkbox" id="smoke" class="form-check-input" name="smoke" value="1">
  		      <label for="bleakfast" class="form-check-label" style="font-weight: 500;">조식</label>
  		      <input type="checkbox" id="bleakfast" class="form-check-input" name="bleakfast" value="1">
  		      </div>
  		      <label for="people" class="form-label" style="font-weight: 500;">허용인원</label>
  		      <input type="text" id="people" class="form-control" name="people">
  		      <label for="roomMany" class="form-label" style="font-weight: 500;">객실개수</label>
  		      <input type="text" id="roomMany" class="form-control" name="roomMany">
		      </div>
		      
		      <h4 style="font-weight: 500;">객실 구비사항</h4>
		      <label for="towel" class="form-check-label">수건</label>
		      <input type="checkbox" id="towel" class="form-check-input" name="towel" value="1">
		      <label for="water" class="form-check-label">생수</label>
		      <input type="checkbox" id="water" class="form-check-input" name="water" value="1">
		      <label for="coffee" class="form-check-label">커피/티</label>
		      <input type="checkbox" id="coffee" class="form-check-input" name="coffee" value="1">
		      <label for="drier" class="form-check-label">드라이기</label>
		      <input type="checkbox" id="drier" class="form-check-input" name="drier" value="1">
		      <label for="iron" class="form-check-label">다리미</label>
		      <input type="checkbox" id="iron" class="form-check-input" name="iron" value="1">
		      <label for="minibar" class="form-check-label">미니바</label>
		      <input type="checkbox" id="minibar" class="form-check-input" name="minibar" value="1">
		      
		      <div style="font-weight: 500;">비수기</div>
		      <label for="biPrice" class="form-label">금액</label>
		      <input type="text" id="biPrice" name="biPrice" class="form-control"s>
		      <label for="bsDate" class="form-check-label">날짜</label>
		      <input type="date" id="bsDate" name="bsDate" ><input type="date" id="beDate" name="beDate">
		      <div style="font-weight: 500;">준성수기</div>
		      <label for="junPrice" class="form-label">금액</label>
		      <input type="text" id="junPrice" name="junPrice" class="form-control">
		      <label for="jsDate" class="form-check-input">날짜</label>
		      <input type="date" id="jsDate" name="jsDate"><input type="date" id="jeDate" name="jeDate">
		      <div style="font-weight: 500;">성수기</div>
		      <label for="sungPrice" class="form-label">금액</label>
		      <input type="text" id="sungPrice" class="form-control" name="sungPrice">
		      <label for="ssDate" class="form-check-input">날짜</label>
		      <input type="date" id="ssDate" name="ssDate"><input type="date" id="seDate" name="seDate">
		      <!--<input type="date" value="<fmt:formatDate value="${contentNotice}" pattern = "yyyy-MM-dd"/>"> -->
      </div>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	    <button type="button" class="btn btn-primary" id="btn_room">등록</button>
	  </div>
	</form>
	
	</div>

<script>
     
   $('#btn_room').click(() => {
		 var form = $('#frm_room')[0];
		 var formData = new FormData(form)
		 
		 $.ajax({
			 type: 'POST',
			 enctype: 'multipart/form-data',
			 url: '/hotel/addHotelRoom.do',
			 data: formData,
			 processData: false,
		   contentType: false,
		   cache: false,
		   dataType: 'text',
			 success: (resData) => {
				 if(resData != null && resData != ""){
					 if(resData == 1){
						 alert("등록되었습니다.");
					 } else if(resData == 0) {
						 alert("등록되지않았습니다.");
					 }
				 }
			 }
		 })
   })
  console.log($('#hotelNo').val());
  
 
  
 
  
  
    
</script>

	
	
</body>
</html>

