@charset "UTF-8";

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.header_wrap {
 
 
}



.logo {
  background-size: 100%;
  cursor: pointer;
}

.header_search {	
	margin-top:20px;
}

.user {
		margin-top:20px;
}
.collapse {
	margin-left:9.10%;
}

